# Don't keep things with bad checksum.
# These should be tracked down.
*bad-checksum*

# Don't keep bare git repos, keep output from
# BB_GENERATE_MIRROR_TARBALLS
**/git2/*
**/git/*

# Just incase a sstate-cache file gets in.
*sstate*.tgz
*sstate*.tgz.siginfo

# Ignore output of BB_GENERATE_MIRROR_TARBALLS for now
git2_*.tar.gz*

# Ignore these files because they can lead to conflicts
*done
